.frontpage{
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgb(3, 0, 61) 100%);
  color:#FFFFFF;
}
.subpage{
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgb(3, 0, 61) 100%);
  color: #FFFFFF;
}
.centertxt{
  text-align: center;
}
.links {
  color: #FFFFFF
}
a.hover_white:hover {
  color: rgb(0, 79, 113) !important;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}
.center {
  display: block !important; 
  margin-left: auto !important;
  margin-right: auto !important;
}
.foot{
  color: white;
}
.fhr{
  border-top: 5px solid #fff !important;
}
.pad {
  padding-top: 2em;
}
.nopad{
  padding: 0px !important;
  margin: 0px !important;
}
.img-limit {
  max-width: 50% !important;
}
.bordertxt{
  border-radius: 10px; 
  border-style: solid; 
  border-color: #FFFFFF;
  margin-right: 20px;
  margin-left: 20px;
}
.bottommarg{
  margin-bottom: 10px !important;
}