.body
{
    background-color:#003333;
}
.card-body
{
  background-color: #4b8078;
}
.navbar-custom
{
  background-color: #11a692;
}
.card-title
{
  color:white
}
.card-text
{
  color:white
}
.links
{
  color:Black
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 38%;
}
.foot
{
  color:white;
}
